@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #f9f9f9;
  --foreground: #1a1a1a; */

  --background: #141414;
  --foreground: #f9f9f9;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #141414;
    --foreground: #f9f9f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-color: #282828 transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
